<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/Tambah">
        <label for="fname">nama barang:</label>
        <input type="text" id="nama_barang" name="nama_barang"><br><br>
        <label for="lname">kode barang:</label>
        <input type="text" id="kode_barang" name="kode_barang"><br><br>
        <label for="lname">jumlah barang:</label>
        <input type="text" id="jumlah_barang" name="jumlah_barang"><br><br>
        <input type="submit" value="Submit">
      </form>
</body>
</html>